<div class="10 columns center">
<p>
<h3>Thank you</h3>
<br>
<% if @type == 'license' %>
Thank you for submitting your licensing request. You will receive any updates via text message or phone call.	
<% elsif @type == 'registration' %>
Thank you for submitting your registration request. You will receive any updates via text message or phone call.
<% else %>
Thank you for submitting your report.
<% end %>
</p>
</div>
