<p class="table-title"><a href="/admin">&lt; Back to Admin</a></p>

<p>
  <strong>Status:</strong>
  <%= @report.status_text || "" %>
</p>

<p>
  <strong>Location Description:</strong>
  <%= @report.location_desc || "" %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @report.comments || "" %>
</p>

<p>
  <% if not @report.photo_url.nil? %>
  	<img src="<%= '/data/' + @report.photo_url %>">
  <% else %>
  	No image available
  <% end %>
</p>

